.bonds-card{margin-bottom: 1rem}
.flex-wrap.justify-between {
    justify-content: space-between;
    flex-wrap: wrap;
}  

.remove-btn {
    font-size: .85rem;
    border-color: var(--dark-gray);
    color: var(--dark-gray);
    line-height: .25rem;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    width: 100px;
    text-align: right;
}

.font-3 {
    font-weight: var(--w-300);
}



.responsive-icons{
  width: 210px;
}

@media(max-width:767px){
  .responsive-icons{
    width: 150px;
  }
}